/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Klee+One&family=Shojumaru&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
}

/* Global Styles */
body {
    font-family: "klee One", sans-serif;
    font-size: 1.2rem;
    background-color: var(--brown-derby);
}

h2 {
    padding-top: 10px;
    border-top: 5px solid var(--copper-canyon);
    border-bottom: 5px solid var(--copper-canyon);
}

:root {
    /* CSS HEX color palette*/
    --neon-orange: #ff5e00;
    --mint-julep: #f4eec8;
    --brown-derby: #402d13;
    --paarl: #a6602a;
    --keppel: #3aaeaa;
    --rainforest-depths: #013220;
    --copper-canyon: #803416;
    --lemon-ginger: #afab2b;
    --casal: #2d5961;
    --eternity: #1c1f0c;
    --white-smoke: #f5f5f5;
}

/* Navigation / sidebar styles */
nav {
    height: 65px;
    background-color: var(--eternity);
    background-image: url("../images/Woodaged3.png");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 10px solid var(--copper-canyon);
}

#logo {
    height: 43px;
    width: 43px;
    border: 2px solid var(--neon-orange);
    background-position: center;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: absolute;
    top: 10px;
    left: 20px;
    margin-left: 7px;

}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    height: 75%;
    padding: 0 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Shojumaru";
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--neon-orange);
}

.nav-link:hover {
    font-size: 23px;
}

nav .fa-solid {
    color: var(--neon-orange);
    font-size: x-large;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
}

/* banner styles */
.banner {
    width: 100%;
    background-color: var(--brown-derby);
}

.banner img {
    display: flex;
    height: fit-content;
    max-height: 500px;
    width: 100%;

}

/* Main content styles */

.heading {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Shojumaru";
    color: var(--neon-orange);
    letter-spacing: 2px;
    background-image: url("../images/wood-aged.webp");
    background-color: var(--brown-derby);
    padding-bottom: 1rem;
    text-shadow: var(--eternity) 5px 5px 5px;
}

.home-features {
    flex-grow: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5px;
    justify-content: space-evenly;
}

.home-features img {
    display: flex;
    height: 320px;
    width: 100%;
    border-top: 1px solid var(--neon-orange);
}

#welcome-note {
    font-size: 1rem;
    color: var(--mint-julep);
    text-align: center;
    padding: 10px;
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
}

.welcome-box {
    background-image: url("../images/leaves-greenbg.png");
    border-top: 3px solid var(--copper-canyon);
    border-bottom: 3px solid var(--copper-canyon);
    text-align: center;
}

.feature-box {
    background-image: url("../images/leaves-greenbg.png");
    max-width: 500px;
    flex-grow: 1;
    justify-content: space-evenly;
}

.feature-box p {
    color: #FFFDD0;
    text-shadow: 3px 3px 3px black;
    padding: 25px;
    text-align: center;
}

/* Flex removes the empty line below the map */
.map-container {
    display: flex;
    width: 100%;
    height: 400px;

}

/* Resort page */

.resort-features p {
    color: var(--rainforest-depths);
    padding: 25px;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid var(--neon-orange);
}

.resort-features img {
    display: flex;
    height: 300px;
    width: 100%;
    padding: 0;
}

.resort-features {
    background-image: url("../images/leaves-bg.webp");
}

/* Stays page */

.stay-heading {
    text-align: center;
    font-size: 1.7rem;
    font-family: "Shojumaru";
    color: var(--neon-orange);
    letter-spacing: 3px;
    background-image: url("/assets/images/Woodaged2.png");
    background-color: var(--brown-derby);
    padding: 10px;
    text-shadow: var(--eternity) 5px 5px 5px;
    border-radius: 0 10px 0 0;
}

.stay-info {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #FFFDD0;
    width: 100%;
    text-align: center;
}
.stay-info p {
    padding: 10px;
    line-height: 1.4em;
}

.stays {
    justify-content: center;
}

.stay-features {
    list-style-type: none;
    background-color: var(--eternity);
    color: var(--white-smoke);
    border-radius: 0 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 16px;
    padding: 5px;

}


.stay-option {
    border: 2px solid var(--neon-orange);
    border-radius: 10px;
    background-image: url("/assets/images/leaves-greenbg.png");
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 100%;


}

.stay-option img {
    /* applying flex removes vacant line underneath image */
    float: left;
    width: 100%;
    height: fit-content;
    max-width: 450apx;
    border-radius: 10px 0 0 10px;
}

.stay-info li {
    margin: 0 8px 8px;
    width: 200px;
}


.stay-info .fa-solid {
    color: var(--keppel);
    padding-right: 10px;
    font-size: 1.2rem;
}

/* Footer content styles */

footer {
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--eternity);
    color: var(--white-smoke);
    padding: 20px;
    align-items: center;
    gap: 3rem;
}

.container-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--eternity);
    flex-grow: 1;

}

.contact-box {
    text-align: center;
    flex-basis: 400px;
}

.social-link {
    font-size: 2rem;
    letter-spacing: 20px;
    color: var(--keppel);
    text-decoration: none;
}

.contact {
    font-size: 1.5rem;
    font-family: "Shojumaru";
    color: var(--neon-orange);
    letter-spacing: 2px;
    background-color: var(--eternity);
    padding-bottom: 1.5rem;
    text-shadow: black 6px 6px 6px;
    text-align: center;
}

.contact-details {
    background-color: var(--eternity);
    color: var(--white-smoke);
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
    margin: 10px;
}




/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    /* Navigation / sidebar styles */
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -200%;
        z-index: 10;
        width: 170px;
        background-color: black;
        box-shadow: -5px 0 5px rgba(255, 92, 0, 0.25);
        transition: 0.60s ease-out;
    }

    .nav-link {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    nav {
        border-bottom: 2px solid var(--copper-canyon);
    }

    .open-sidebar-button,
    .close-sidebar-button {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    #logo {
        left: 10px;
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    .home-features img {
        height: 250px;
    }

    /* Contact section media queries */
    .contact-box {
        text-align: center;
    }

    .contact {
        text-align: center;
    }

    .container-social {
        text-align: center;
    }

    .stays {
        margin: 10px;
    }

    .stay-option {
        border-radius: 10px;
        flex-direction: column;
        margin: 10px;
        height: 100%;

    }

    .stay-option img {
        /* applying flex removes vacant line underneath image */
        display: flex;
        height: 400px;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .stay-heading {
        border-radius: 0 0 0 0;
    }

    .stay-features {
        flex-wrap: wrap;
        flex-direction: row;
        border-radius: 0 0 10px 10px;
        padding: 10px;
    }
    .stay-info li {
        width: 100px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

     /* Banner media queries */
     .banner {
        border-bottom: 10px solid var(--copper-canyon);
    }

    /* home page features boxes media queries */
    .home-features p {
        border-bottom: none;
    }

    .home-features img {
        border-radius: 10px 10px 0 0;
        border-top: none;
    }

    .feature-box {
        flex-basis: 320px;
        border-radius: 10px;
        margin: 1rem;
    }

    /* Navigation media queries */

    nav {
        height: 75px;
    }

    #logo {
        height: 55px;
        width: 55px;
        top: 7px;
        left: 20px;
    }

    .stay-option {
        border-radius: 10px;
        flex-direction: column;
        margin: 10px;
        height: 100%;
        max-width: 450px;
    }

    .stay-option img {
        height: 450px;
        max-height: 450px;
        max-width: 530px;
        border-radius: 10px 10px 0 0;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .stays {
        justify-content: space-evenly;
    }

    .stay-option {
        border-radius: 10px;
        flex-direction: column;
        margin: 10px;
        height: 100%;
        max-width: 350px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .stay-option {
        flex-direction: row;
        max-width: 90%;
        margin: 20px 20px;
    }

    .stay-info {
        margin: 0;
    }

}



