/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Klee+One&family=Shojumaru&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
}

/* CSS HEX color palette*/
:root {
    --neon-orange: #ff5e00;
    --brown-derby: #402d13;
    --keppel: #3aaeaa;
    --rainforest-depths: #013220;
    --copper-canyon: #803416;
    --eternity: #1c1f0c;
    --white-smoke: #f5f5f5;
    --white-cream: #FFFDD0;
}

/* Global Styles */
body {
    font-family: "klee One", sans-serif;
    font-size: 1.2rem;
    background-color: var(--brown-derby);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

p {
    color: #FFFDD0;
    text-shadow: 3px 3px 3px black;
    padding: 25px;
    text-align: center;
}

.container {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.hidden {
    display: none;
}

.heading {
    text-align: center;
    font-size: 1.4rem;
    font-family: "Shojumaru";
    color: var(--neon-orange);
    letter-spacing: 2px;
    background-image: url("../images/wood-aged.webp");
    background-size: cover;
    background-color: var(--brown-derby);
    padding-bottom: 1rem;
    text-shadow: var(--eternity) 5px 5px 5px;
    padding-top: 1rem;
    border-top: 5px solid var(--copper-canyon);
    border-bottom: 5px solid var(--copper-canyon);
}

.section-heading {
    text-align: center;
    font-size: 1.4rem;
    font-family: "Shojumaru";
    color: var(--neon-orange);
    letter-spacing: 2px;
    background-color: var(--eternity);
    padding-bottom: 1rem;
    text-shadow: black 5px 5px 5px;
    padding-top: 1rem;
    border-top: 5px solid var(--copper-canyon);
    border-bottom: 5px solid var(--copper-canyon);
}

/* Navigation / sidebar styles */
nav {
    height: 65px;
    background-color: var(--eternity);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 5px solid var(--copper-canyon);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#logo {
    height: 43px;
    width: 43px;
    border: 2px solid var(--neon-orange);
    background-position: center;
    border-radius: 50%;
    background-color: var(--white-smoke);
    position: absolute;
    top: 10px;
    left: 20px;
    margin-left: 7px;
}

.links-container {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav-link {
    height: 75%;
    padding: 0 15px;
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    font-family: "Shojumaru";
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--neon-orange);
}

.nav-link:hover {
    font-size: 30px;
}

nav .fa-solid {
    color: var(--neon-orange);
    font-size: x-large;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
}

.active {
    font-size: 28px;
    text-shadow: 5px 5px 5px black;
}

/* Main content styles */
/* banner styles */
#banner {
    width: 100%;
    margin-top: 80px;
    background-color: var(--brown-derby);
}

#banner img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 500px;
    width: 100%;
}

/* Welcome note styles */
#welcome-note {
    border: 2px solid var(--copper-canyon);
    background-color: var(--eternity);
    margin: 20px;
}

#success > h1 {
    color: var(--neon-orange);
    font-size: 2rem;
    font-family: shojumaru, sans-serif;
    text-shadow: 3px 3px 3px black;
    letter-spacing: 2px;
    text-align: center;
    margin: 20px;
}

/* New features styles */
.new-feature {
    border-radius: 10px;
    background-image: url("../images/leaves-bg-red1.png");
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 350px;
    margin: 15px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

#hotel {
    background-image: url("../images/leaves-bg-blue.png");
}

.newf-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 19.2px;
    color: #FFFDD0;
    width: 100%;
    text-align: center;
}

.newf-elements {
    list-style-type: none;
    background-color: var(--eternity);
    color: var(--white-smoke);
    border-radius: 0 0 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 18px;
    padding: 5px;
}

.new-feature img {
    /* applying flex removes vacant line underneath image */
    float: left;
    /* I have decided to use float as I tried various other ways but nothing was working with the layout shift */
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.newf-info li {
    margin: 0 8px 8px;
    width: auto;
}


.newf-info .fa-solid {
    color: var(--keppel);
    padding-right: 10px;
    font-size: 1.2rem;
}

/* Resort section */
#resort-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.resort-heading {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Shojumaru";
    color: var(--neon-orange);
    letter-spacing: 2px;
    background-image: url("../images/wood-aged.webp");
    background-size: cover;
    background-color: var(--brown-derby);
    padding-bottom: 1rem;
    text-shadow: var(--eternity) 5px 5px 5px;
    padding-top: 10px;
    border-top: 5px solid var(--copper-canyon);
    border-bottom: 5px solid var(--copper-canyon);
}

.left-text-box,
.right-text-box {
    width: 40%;
    width: 400px;
    background-image: url("../images/leaves-greenbg.png");
    color: white;
    width: 100%;
}

#resort-image-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 450px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 20px;
}

#resort-image-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid var(--copper-canyon);
}

/* Main features section styles */
#home-features img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 320px;
    width: 100%;
    border-top: 1px solid var(--neon-orange);
}

.feature-box {
    background-image: url("../images/leaves-greenbg.png");
    width: 350px;
    max-width: 400px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.top-margin {
    margin-top: 15px;
}

/* map section styles */
#map-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* Flex removes the empty line below the map */
    width: 100%;
    height: 500px;
    margin-top: 15px;
}

#map {
    width: 100%;
    height: 100%;
}

/* Gallery page */
#gallery .section-heading {
    width: 40%;
}

#gallery-body {
    background-image: url("../images/leaves-greenbg.png");
}

#photos {
    line-height: 2em;
}

#photos img {
    width: 100%;
}

#gallery {
    margin-top: 50px;
}

/* competition page styles */
#competition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../images/leaves-greenbg.png");
}

#comp-intro {
    margin: 20px;
}

#winform {
    display: block;
    font-size: 22px;
    color:#f4eec8;
    text-align: center;
}

#winform > h2 {
    border-top: none;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    padding: 15px;
}

#form-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#form-details label {
    display: inline-block;
    padding: 15px 0 10px;
    text-align: left;
    margin-right: auto;
    border-radius: 5px;
}

#form-details input {
    padding: 10px;
    margin: 10px;
}

#form-details select {
    padding: 10px;
    margin: 10px;
}

#form-details > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border: 3px solid var(--copper-canyon);
    background-color: var(--eternity);
    border-radius: 15px;
    -ms-flex-preferred-size: 470px;
        flex-basis: 470px;
    padding: 10px;
    margin: 10px;
}

#winform select {
    width: 50px;
}

#form-details-box {
    margin: 20px;
    text-align: center;
}

#titles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border: 3px solid var(--copper-canyon);
    background-color: var(--eternity);
    border-radius: 15px;
    margin-top: 15px;
    width: 100%;
}

#titles > input {
    margin: 0 15px;
}

#form-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--brown-derby);
    border: 5px solid var(--copper-canyon);
    border-radius: 10px;
    margin: 10px;
}

#form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 20px;
    padding: 15px;
}

#form-buttons > button {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--eternity);
    color: var(--neon-orange);
    font-size: 18px;
    font-family: "Shojumaru";
    letter-spacing: 2px;
}

#submit-btn:hover {
    background-color: var(--neon-orange);
    color: var(--eternity);
}

.terms-container {
    margin: 20px;
    padding: 20px;
    max-height: 300px; /* Set a maximum height */
    overflow-y: auto; /* Add vertical scroll */
    border: 1px solid var(--copper-canyon);
    border-radius: 4px;
    background-color: var(--eternity);
}

/* Success page styles */
#form-entry {
    border: 4px solid var(--copper-canyon);
    border-radius: 10px;
    background-color: var(--eternity);
    margin: 0 30px;
}

/* Footer content styles */
#main-content {
    /* keeps the footer at the bottom of the success page. */
    height: 100vh;
}


footer {
    margin-top: 10px;
    margin-bottom: 20px;
}

.container-social {
    text-align: center;
    background-color: var(--eternity);
    color: #FFFDD0;
    padding: 20px;
}

.container-social h4 {
    padding-bottom: 10px;
}

.container-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: var(--eternity);
}

.contact-box {
    text-align: center;
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
}

.social-link {
    font-size: 3rem;
    letter-spacing: 20px;
    color: var(--keppel);
    text-decoration: none;
}

.contact-heading {
    font-size: 1.5rem;
    font-family: "Shojumaru";
    color: var(--neon-orange);
    letter-spacing: 2px;
    background-color: var(--eternity);
    padding-bottom: 1.5rem;
    text-shadow: black 6px 6px 6px;
    text-align: center;
    margin-top: 20px;
}

.contact-details {
    background-color: var(--eternity);
    color: var(--white-smoke);
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.contact-details p {
    padding: 3px;
    line-height: 1.3rem;
    margin-bottom: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

    p {
        font-size: 1rem;
    }

    .section-heading {
        padding: 15px;
    }

    /* Navigation / sidebar styles */
    .links-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -200%;
        z-index: 10;
        width: 230px;
        background-color: black;
        -webkit-box-shadow: -5px 0 5px rgba(255, 92, 0, 0.25);
                box-shadow: -5px 0 5px rgba(255, 92, 0, 0.25);
        -webkit-transition: 0.60s ease-out;
        -o-transition: 0.60s ease-out;
        transition: 0.60s ease-out;
    }

    .nav-link {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    nav {
        border-bottom: 2px solid var(--copper-canyon);
    }

    .open-sidebar-button,
    .close-sidebar-button {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }

    #logo {
        left: 10px;
    }

    #sidebar-active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

    #home-features img {
        height: 250px;
    }

    /* Contact section media queries */
    .contact-box {
        text-align: center;
    }

    .contact {
        text-align: center;
    }

    .container-social {
        text-align: center;
    }

    /* New feature section */
    .new-feature {
        max-width: 450px;
    }

    .new-feature img {
        /* applying flex removes vacant line underneath image */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .newf-elements {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        border-radius: 0 0 10px 10px;
        padding: 10px;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }

    .newf-info li {
        width: 150px;
        padding: 5px;
    }

    .newf-info p {
        padding: 20px;
    }

    /* Competition section */
    #winform {
        font-size: 18px;
    }

    #terms-conditions {
        font-size: 14px;
    }

    #titles {
        max-width: 600px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* home page features boxes media queries */
    #home-features p {
        border-bottom: none;
    }

    #home-features img {
        border-radius: 10px 10px 0 0;
        border-top: none;
    }

    .feature-box {
        -ms-flex-preferred-size: 320px;
            flex-basis: 320px;
        border-radius: 10px;
        margin: 1rem;
        box-shadow: 3px 3px 3px black;
    }

    .new-feature  {
        width: 300px;
        box-shadow: 3px 3px 3px black;
    }

    .left-text-box,
    .right-text-box {
        box-shadow: 3px 3px 3px black;
    }

    /* Navigation media queries */
    nav {
        height: 75px;
        position: fixed;
        top: 0;
        width: 100%;
    }

    #logo {
        height: 55px;
        width: 55px;
        top: 7px;
        left: 20px;
    }

    /* Gallery page media queries */
    #photos {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 15px;
           -moz-column-gap: 15px;
                column-gap: 15px;
        margin: 0 15px;
    }

    #gallery {
        margin-top: 70px;
    }
}




/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .newf-elements {
        border-radius: 0 0 10px 0px;
    }

    .new-feature {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        max-width: 90%;
        width: 90%;
    }

    .newf-info > .heading {
        border-radius: 0px 10px 0 0;
    }

    .newf-info p {
        font-size: 16px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 15px;
        margin: auto;
    }

    .new-feature img {
        width: 400px;
        height: 350px;
        border-radius: 10px 0 0 10px;
    }

    /* Resort feature media queries */
    #resort-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        position: relative;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 20px;
        margin-bottom: auto;
    }

    .left-text-box,
    .right-text-box {
        border-radius: 5%;
        margin: 10px;
    }

    .resort-heading {
        border-radius: 10px 10px 0 0;

    }

    .left-text-box p,
    .right-text-box p {
        padding: 15px;
    }

    .left-text-box {
        -ms-flex-item-align: start;
            align-self: flex-start;
        margin-top: 15px;
    }

    .left-text-box > p {
        text-align: left;
    }

    .right-text-box {
        -ms-flex-item-align: end;
            align-self: flex-end;
        margin-top: 15px;
    }

    .right-text-box > p {
        text-align: right;
    }

    #resort-features-left {
        margin-left: 20px;
    }

    #resort-features-right {
        margin-right: 20px;
    }

    #resort-features-left p {
        margin-right: 35px;
    }

    #resort-features-right p {
        margin-left: 35px;
    }


    #resort-features-left,
    #resort-features-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        width: 40%;
    }

    #resort-image-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        width: 40%;
        height: 250px;
        width: 250px;
        top: 32%;
        left: 37%;
        margin: 5px;
    }

    /* Gallery page media queries*/
    #photos {
        -webkit-column-count: 4;
           -moz-column-count: 4;
                column-count: 4;
        -webkit-column-gap: 15px;
           -moz-column-gap: 15px;
                column-gap: 15px;
    }

    /* Competition page media queries */
    #form-box {
        margin: 0 50px 25px;
    }

    #winform > h2 {
        font-size: 25px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /* New feature media queries*/
    .newf-info {
        font-size: 22px;
    }

    .new-feature {
        margin-bottom: 30px;
    }

    .newf-info p {
        font-size: 20px;
    }

    /* Resort media queries */
    #resort-image-box {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: 300px;
        top: 25%;
        left: 37%;
    }

    /* Features media queries */
    .feature-box {
        width: 600px;
    }
}

/* XX-large devices 1400px and up) */
@media only screen and (min-width: 1400px) {
    #resort-image-box {
        width: 350px;
        top: 18%;
        left: 37%;
    }
}

/* XX-large devices 1600px and up) */
@media only screen and (min-width: 1600px) {
    #resort-image-box {
        left: 39%;
    }
}

/* XX-large devices 1900px and up) */
@media only screen and (min-width: 1900px) {

    #resort-image-box {
        width: 400px;
        top: 13%;
    }
}