/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Klee+One&family=Shojumaru&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
}

/* Global Styles */

body {
    font-family: "klee One", sans-serif;
    color: var(--brown-derby);
}

:root {
    /* CSS HEX color palette*/
    --neon-orange: #ff5e00;
    --jaffa: #e88536;
    --mint-julep: #f4eec8;
    --brown-derby: #402d13;
    --paarl: #a6602a;
    --keppel: #3aaeaa;
    --pesto: #6a7936;
    --copper-canyon: #803416;
    --lemon-ginger: #afab2b;
    --casal: #2d5961;
    --eternity: #1c1f0c;
}

/* Navigation / sidebar styles */

nav {
    height: 65px;
    background-color: var(--eternity);
    background-image: url(/assets/images/wood-cracked-aged5.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid var(--neon-orange);
}

#logo {
    height: 40px;
    width: 40px;
    border: 2px solid var(--neon-orange);
    background-position: center;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top: 10px;
    left: 20px;

}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    height: 100%;
    padding: 0 25px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: "Shojumaru";
    font-size: 22px;
    letter-spacing: 1px;
    color: var(--neon-orange);
}

.nav-link:hover {
    font-size: 23px;
}

nav .fa-solid {
    color: var(--neon-orange);
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
}

/* Banner styles */

.banner > img {
    width: 100%;
    height: fit-content;
    max-height: 500px;
    background-color: var(--brown-derby);
}

/* Main content styles */

.about {
    display: flex;
    text-align: left;
    padding: 50px;
    background-color: var(--mint-julep);
    border: 20px solid var(--brown-derby);
    font-size: 1.3rem;
    margin: 20px 30px;
}



/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    /* Navigation / sidebar styles */
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 250px;
        background-color: black;
        box-shadow: -5px 0 5px rgba(255, 92, 0, 0.25);
        transition: 0.60s ease-out;
    }

    .nav-link {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    nav #logo {
        left: 10px;
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px)/*

